<% include ../partials/header %>
  <header>
    <h1>Login using..</h1>
  </header>
  <main>
    <div class="btn-container">
        <a class="btn btn-google" href="/auth/google">Google+</a>
        <br>
        <a class="btn btn-facebook" href="/auth/facebook">Facebook</a>
    </div>
  </main>
</body>
</html>