<% include ../partials/header %>
  <header>
    <h1>Welcome to my profile, <%= user.firstName %>&nbsp;<%= user.lastName %></h1>
  </header>
  <main>
    <p>Extra information about you.</p>
  </main>
</body>
</html>